@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}

header h1, .fi {
    color: rgb(0, 0, 0);
}

.product-container {

    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    
    gap: 1rem;
}

.product-container div {
    display: flex;
    justify-content: center;

    border: 1px black solid;
}

.top-nav {
    display: none;
    overflow: hidden;
}

.top-nav ul, .top-nav a {
    font-size: 20px;
    color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}


.product-container img {
    padding: 20% 5% 20% 5%;
    width: 100%;
    
}

.fi-bs-x {
    padding-left: 40%;
}

.menu-icon {
    width: 50px;
    text-align: center;
    margin-left: 25px;
}

.active, .fi:hover {
    filter: drop-shadow(rgba(6, 24, 44, 0.4) 0px 0px 5px);
    cursor: pointer;
}

.right-icons {
    width: 50px;
    text-align: center;
    margin-right: 25px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    background-color: rgb(255, 255, 255);

}

.logo {
    font-size: 30px;
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.login, .register {
    display: none;
    overflow: hidden;
    position: fixed;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;

    max-height: 19rem;
    max-width: 20rem;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.register-form > a, .login-form > a {
    font-size: 1rem;
    text-align: center;
}

.register-form > input, .login-form > input {
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 10px;
}

.login-form > input:focus, .register-form > input:focus{
    outline: 1px black solid;
}


.register-form > button, .login-form>button {
    height: 40px;
    background-color: black;
    color: white;
}

.register-form, .register-form>label, .login-form, .login-form>label {
    display: flex;
    flex-flow: column nowrap;

}

.register-form, .login-form {
    gap: 1rem;
    width: 80%;
    font-size: 20px;
}

.menu-nav>header {

    height: 110px;
    width: 100%;
    
    border-bottom: 2px black solid;
}


.menu-nav {
    
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;

}

@media screen and (min-width: 700px){
    .product-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0 2rem 0 2rem;
        gap: 1rem;
    }

    
}

@media screen and (min-width: 1000px){
    .product-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0 2rem 0 2rem;
        gap: 1rem;
    }
    .menu-icon {
        display: none;
        overflow: hidden;
    }
    .top-nav {
        overflow: visible;
        display: block;
      
        
    }
    .top-nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
        
    }
    .right-icons {
        margin-left: 275px;
        width: 100px;

    }
    .right-icons .fi {
        width: 20vw;
        text-align: center;
    }
    .menu-nav {
        display: none;
        overflow: hidden;
        width: 0%;
        background-color: black;
        position: fixed;
        left: 0;
    }
    
}